


# http://www.gnu.org/software/automake
Makefile
Makefile.in

# http://www.gnu.org/software/autoconf
.deps
.libs

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/m4
/config.*
/ltmain.sh
/libtool
/stamp-*

# tags/ctags/etags
/tags
/TAGS
/etags
/ETAGS
/ctags
/CTAGS

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# protobuf
*.pb.h
*.pb.cc

# bin test et ut
/src/seeks
/src/lsh/tests/gen_mrf_query_160
/src/proxy/tests/shash
/src/proxy/tests/user_db_*

*/tests/test_*
*/tests/ut_*
*/*/tests/test_*
*/*/tests/ut_*
*/*/*/tests/test_*
*/*/*/tests/ut_*




