body {
	font-size: 85%;
	font-size: 9pt;
	line-height: 145%;
	font-family: sans-serif;
	padding: 20px;
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

h6 { font-size: 105%; }
h5 { font-size: 110%; }
h4 { font-size: 125%; }
h3 { font-size: 130%; }
h2 { font-size: 145%; }
h1 { font-size: 150%; }



a {
	color: #256611;
	text-decoration:none;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

#info-head {
	float:right;
	position: fixed;
	/*bottom: 0px;*/
	top: 0px;
	right: 0px;
	height: 16px;
	font-size: 10px;
	/*width: 100%;*/
	
	padding: 0px;
	margin: 0px;
	text-align: right;
	/*background-color: #cacaca;*/
	color: grey;
}

#info-head strong {
	margin-right: 3px;
}

#info-head span {
	margin-right: 10px;
}

#info-head a {
        color: gray;
	text-decoration: none;
}
